body {
  margin: 0;
  padding: 0;
  font-family: Georgia;
  font-size: 17px;
}

/* header logo and navigation */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  margin-top: 0;
  height: 80px;
}

/* logo */

.logo {
  display: flex;
  align-items: center;
}
  .logo img {
  margin-right: 10px;
  padding-left: 30px;
  }
  .logo span {
  color: MediumAquamarine;
  }

/* navigation */

nav {
  margin-left: 60%;
  }

  span a {
    color: black;
    padding: 10px;
  }

/* main-container */

.main-container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  top: 100px;
  margin: 0 125px;
}

h2 {
  font-size: 30px;
}

h3 {
  color: white;
  font-weight: bold;
  height: 300px;
}

/* left colomn*/

.left-column {
  width: 630px;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}

/* left main article*/

.left-top {
  width: 630px;
  padding: 10px;
}

.picture-main {
  background-image: url(../images/main-story.png);
  height: 300px;
  display: flex;
  justify-content: center;

}
.picture-main h3 {
    font-size: 40px;
}

/* Article bottom left */

.left-left {
  width: 295px;
  padding: 10px;
}

.picture-bottomleft {
  background-image: url(../images/fall-season.png);
  height: 300px;
  display: flex;
  justify-content: center;
}

.picture-bottomleft h3 {
  font-size: 30px;
  text-align: center;
}

/* article bottom right */

.left-right {
  width: 295px;
  padding: 10px;
}

.picture-bottomright {
  background-image: url(../images/hipster-cameraman.png);
  height: 300px;
  display: flex;
  justify-content: center;
}

.picture-bottomright h3 {
  font-size: 30px;
  text-align: center;
}

/* middel column */
.middel-column {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 15px;
}

.picture-middel {
  background-image: url(../images/cat-ceo.png);
  height: 300px;
  display: flex;
  justify-content: center;
}

.picture-middel h3 {
  font-size: 30px;
  text-align: center;
}

/* right column */
.right-column {
  width: 240px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 150px;
  align-items: center;
  margin-top: 40px ;

}

li {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid;
  display: block;
  padding: 10px 20px;
}

.right-column h2 {
  font-size: 16px;
  font-weight: bold;
}

/* footer */

footer {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 325px;
  position: relative;
  top: 125px;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

footer span {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid;
  padding-right: 20px;
}

a {
  padding: 0 20px;
  color: black;
}
